{% extends 'base.html' %} {% load static %} {% block login %}

<div class="container">
  <div class="row">
    <div class="col-lg-12 p-5 text-center">Log in</div>

    <div class="row">
      <div class="col-lg-12 col-12 col-md-12 col-sm-12 p-5 d-flex justify-content-center">
        <div class="col-lg-8 col-12 col-md-12 col-sm-12">
          <form method="POST">
            {% csrf_token %}
            <div class="shadow-2-strong">
              <span class="crl_white bg-danger">{{form.errors}}</span>
            </div>
            <!-- user name -->
            <div class="form-outline mb-4">
              {{ form.username }}
              <label class="form-label" for="username">Username</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              {{ form.password }}
              <label class="form-label" for="password">Password</label>
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
              <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="form1Example3"
                    checked
                  />
                  <label class="form-check-label text-dark" for="form1Example3">
                    Remember me
                  </label>
                </div>
              </div>

              <div class="col">
                <!-- Simple link -->
                <a href="{% url 'password_reset' %}" class="text-dark">Forgot password?</a>
              </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-dark btn-block">
              Sign in
            </button>
          </form>

          <div class="py-2">
            <a href="{% url 'signup' %}" class="btn btn-lg btn-success">Create Account</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock login %}
