


{% block form_link_men %}

<div class="col-sm-4">
	<ul class="multi-column-dropdown">
		<li><a href="{% url 'product_m' %}">Men collection</a></li>
	</ul>
</div>

{% endblock form_link_men %}

{% block form_link_women %}

<div class="col-sm-4">
	<ul class="multi-column-dropdown">
		<li><a href="{% url 'product_m' %}">Women collection</a></li>
	</ul>
</div>

{% endblock form_link_women %}

{% block form_link_kids %}

<div class="col-sm-4">
	<ul class="multi-column-dropdown">
		<li><a href="{% url 'product_m' %}">kids collection</a></li>
	</ul>
</div>

{% endblock form_link_kids %}

