{% extends 'base.html' %} {% load static %} {% block single %}

<!-- another container -->
<div class="container">
  <div class="row">
    <div class="row p-lg-2 p-md-0">
      <div class="col-lg-12 col-md-12">
        <div class="row shadow-5-strong p-lg-5 p-md-0 p-md-0">
          <div class="col-lg-6 col-md-12">
            <div class="singlebox">
              <img
                src="{{ object.picture.url }}"
                alt=""
                srcset=""
                class="fitter"
              />
            </div>
          </div>

          <div class="col-lg-6">
            <div id="description" class="shadow-2-strong rounded px-lg-5">
              <div id="name" class="d-flex justify-content-center rounded">
                {{object.productname}}
              </div>
              <div id="price" class="d-flex justify-content-center">
                <span class="badge bg-primary">UGX {{object.price}}</span>
              </div>
              <div class="d-flex justify-content-center">
                <h4>Description</h4>
              </div>

              <p>{{object.product_description}}</p>
            </div>

            <div
              id="preview"
              class="my-cart-btn d-flex justify-content-center rounded"
            >
              <a
                href="#"
                id="ok_btn"
                class="btn btn-block btn-outline-information my-2 my-cart-btn"
                data-id="{{ object.pk }}"
                data-name="{{ object.productname }}"
                data-summary="summary {{ object.productname }}"
                data-price="{{object.price}}"
                data-quantity="1"
                data-image="{{ object.picture.url }}"
                >Add to cart</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col d-flex justify-content-center py-2">
    <h3>In Claires Store</h3>
  </div>
</div>
<!-- end of container -->

<!-- another container -->
<div class="container">
  <div class="row">
    {% for a in category|slice:"2" %}
    <div class="row p-lg-2 p-md-0">
      {% for allproducts in category|slice:"4" %}
      <div class="col-lg-3 col-md-6 py-lg-2">
        <div class="px-2 shadow-5-strong w-auto h-100">
          <div class="singlebox">
            <a href="{% url 'single' allproducts.pk  %}"
              ><img
                src="{{ allproducts.picture.url }}"
                alt=""
                srcset=""
                class="fitter"
            /></a>
          </div>
          <div id="name" class="d-flex justify-content-center rounded">
            {{allproducts.productname }}
          </div>

          <div
            id="price"
            class="shadow-2 d-flex justify-content-center rounded"
          >
            <span class="pill pill-primary">UGX</span> {{allproducts.price}}
          </div>

          <div id="preview" class="d-flex justify-content-center rounded">
            <a href="#" class="btn btn-block btn-outline-information my-2"
              >Add to cart</a
            >
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
<!-- end of container -->

{% endblock single %}
